<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]

    RewriteCond %{HTTPS} !=on
    #RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI}:1026/$1 [R=301,L]

    # Redirect from HTTP to HTTPS and port 1025 to HTTPS and port 1026
    RewriteCond %{HTTPS} off
    RewriteCond %{SERVER_PORT} ^1025$ [OR]
    RewriteCond %{SERVER_PORT} ^1026$
    RewriteRule ^(.*)$ https://sofia.onedoc.ph:1026/$1 [R=301,L]
    
</IfModule>
